
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary-color:#000000;
    --secondary-color: #901E3E;
    --roboto-font:"Roboto', sans-serif"
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: var(--roboto-font);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
}
main{
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    border-radius: 20px;
    width: 400px;
    height: auto;
    display: grid;
    justify-content: center;
    padding: 2rem;

    .erro{
        display: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 1rem;
    }
}
section{
    display: none;
}
article.search-box{
    display: flex;
    align-items: center;

    input{
        width: 100%;
        height: 50px;
        border-radius: 10px;
        padding: 0 1rem;
        border: none;
        outline: none;
        font-size: 1.2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    button#search-button {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: none;
        outline: none;
        background: var(--primary-color);
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-left: .3rem;
    }
}
article.weather-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .weather-icon i {
        font-size: 6rem;
        color: #fff;
    }
    .weather-dg p {
        font-size: 6rem;
        color: #fff;
        font-weight: 700;
        margin: 1rem;
    }
    .city-name p {
        font-size: 2rem;
        color: #fff;
        font-weight: 700;
        margin: 0;
    }

}
article.weather-discription {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem;

    div.humidity{
        display: flex;
        justify-content: center;
        align-items: center;
        div.humidity-icon i{
            font-size: 2rem;
            margin-right: 1rem;

        }
        div.humidity-value-box{
        p.humidity-value{
            font-size: 2rem;
            font-weight: 500;
        }
        p{
            margin: 0; 
            font-size: 1rem; 
            font-weight: 500;
            
        }
        }
   
    }

    div.speed {
        display: flex;
        justify-content: center;
        align-items: center;

        div.speed-icon i{
            font-size: 2rem;
            
            margin-right: 1rem;
        }
        div.speed-value-box{
            display: flex;
            flex-direction: column;
            align-items: center;

        p.speed-value{
            font-size: 1.5rem;
            font-weight: 500;
        }
        p{
            margin: 0; 
            font-size: 1rem; 
            font-weight: 500;
            
        }
        }
   
    }
}